beautifulsoup4
bs4
certifi
charset-normalizer
idna
numpy
pandas
polars
psycopg2
python-dateutil
python-dotenv
pytz
requests
six
soupsieve
tzdata
urllib3
pendulum
apache-airflow-providers-postgres
apache-airflow-providers-amazon